
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  body {
    height: 100vh;
    background: linear-gradient(135deg, #8052ec, #d161ff);

  }
  html {
    font-size: 16px;
  }
  .wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 51%;
    left: 50%;
  }
  .container {
    width: 50vmin;
    height: 50vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    
  }
  .button-option {
    background: #ffffff;
    height: 15vmin;
    width: 15vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #d161ff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  #restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: #0a0027;
    color: #ffffff;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
  }
  .popup {
    background: linear-gradient(135deg, #8052ec, #d161ff);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
  }
  #new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: #0a0027;
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
  }
  #message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
  }
  .popup.hide {
    display: none;
    width: 100%;
    height: 100%;
  }
  

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight:bolder;
  font-style:italic;
  font-size: 100px;
  text-align: center;
  margin-top: px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-left: 1100px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s;
  font-size: 30px;

}

.nav-links a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.login-btn {
  background-color: #007BFF;
  color: #fff;
}

.register-btn {
  background-color: #28A745;
  color: #fff;
}

button:hover {
  opacity: 0.8;
}
footer {
  
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
}

.social-icons a:hover {
  color: #ddd;
}
.main{
  position: fixed;
}