* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    color:black;
}

.signup-container {
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remember-me label {
    display: flex;
    align-items: center;
    margin: 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}
footer {
    
    color:black;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color:black;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .social-icons a:hover {
    color: #ddd;
    background-color: black;
  }
.Sign{
    text-decoration: none;
    color: white;
}